/* Google Fonts Montserrat Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{ 
    --logo-color: maroon; 
    --body-color: #GGGGGG;
    --nav-color: #BEBEBE;
    --side-nav: #BEBEBE;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --search-text: #CCC;
}

/* START OF NAVIGATION BAR CSS */

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding: 30px;
    background-color: var(--nav-color);
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30 px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo a{
    font-size: 30px;
    font-weight: 1000;
    color: var(--logo-color);
    text-decoration: none;

}

nav .nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light, .darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-color);
    margin: 0 5px;
}

.dark-light i, .searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -75px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 12px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3 ease;
}

.searchToggle.active ~ .search-field{
    opacity: 1;
    pointer-events: auto;
}


.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 400; 
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field i{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* END OF NAVIGATION BAR CSS */

/* START OF WIDGET SIDEBAR CSS */
.sidebar{
    position: fixed;
    top: 50%;
    right: 15px;
    height: 100px;
    width: 20px;
    
    transform: translate(-50%, -50%);
    background-color: var(--side-nav);
    transition: all 0.3s ease;
    border-radius: 12px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.dark .sidebar{
    background-color: var(--logo-color)
}

.sidebar:hover{
    height: 75%;
    width: 70px;
    border-radius: 28px;
    transform: translate(0px,-50%);
}

.sidebar .widgets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
.widgets li{
    transform: translate(0%,0px);
    list-style: none;
    position: relative;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 12px;
    margin: 5px 0;
    transition: all 0.3s ease;
}

body.dark .widgets li{
    background-color: var(--body-color)
}

.sidebar:hover .widgets li{
    transform: translate(-23px,0%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 50px;
}

li:hover{
    background-color: var(--logo-color);
}

body.dark li:hover{
    background-color: white;
}

.extension{
    transform: translate(0px, -50%);
    position: fixed;
    top: 50%;
    right: 70px;
    height: 800px;
    width: 400px;
    background-color: var(--nav-color);
    border-radius: 30px;
    opacity: 0;
}

.widget1.active .extension{
    opacity: 1;
}

.widget2.active .extension{
    opacity: 1;
}

.widget3.active .extension{
    opacity: 1;
}


.calendar{
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(0, -50%);

    width: 60%;
    height: 80%;
    border-radius: 40px;
    background-color: var(--nav-color);
}

.md-disallow-past-event-creation .mbsc-readonly-event {
    opacity: .6;
}